<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Image Gallery With Cool Hover Effect</title>
    <!-- Google Fonts Link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="image-gallery">
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/tnt-mental/mockup-04.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/tnt-2018/on-air-ids-2020-filter-batrudinov-02.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/tnt-avatar/cg-01.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/tnt-music/ids-pop-01.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/premier/product-smartphones.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/giallo-2017/thematic-imagery.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/nove/hero.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/realtime-2016/image3.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/discovery-italia-portfolio/logo.svg" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/realtime-rebrand-2014/idents-food.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/mtv-international-rebrand-2013/on-air-osp-epg-01.jpg" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/paramount-channel-branding-2012/hero.webp" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/mtv-hitlist-italia/image2.jpg" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="https://www.ideosuite.com/images/mtv-my-video/image2.jpg" alt="img.jpg" />
        <div class="overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
